extends layout

block content
  .page-header
    h3 Current Product List 当前产品列表
  .form-group
    case rst.length
      when 0
        h2(style="font-size:30px;color:green;")  目前数据库里没有待售产品！  
      default 
        each item, index in rst
          .form-group
            input(id=`${item._id}` type='checkbox' value="newsletter" name="subscribe" checked onchange="mv2Htry(this.id, this.name)")
            label(for=`${item._id}` id = `${item._id}` + '1') #{item.name}, $#{item.price}, #{item.unit2}  
  script 
    include ../public/js/script.js     